/* 
Table of contents
1.) Structure
2.) Text Styling
3.) Images
4.) CSS animations
*/


/*  ==========
1.) Structure
========== */
body{
    background-color: var(--backgroundDark);
}

header {
    width: 100%;
    height: 90px;
    background-color: var(--accentBanana);
}

.searchBox {
    min-height: 100px;
    border: 2px solid var(--menuColor);
    border-radius: 12px;
    padding: 15px;
    background-color: var(--menuColor);
    margin-top: 100px;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, .5));
}

.listResults
{
    min-height: 100px;
    border: 2px solid var(--menuColor);
    border-radius: 12px;
    padding: 15px;
    background-color: var(--menuColor);
    margin-top: 50px;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, .5));
}

footer {
    width: 100%;
    height: 90px;
    background-color: var(--accentBanana);
    margin-top: 150px;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
}


/*  ==========
2.) Text Styling
========== */

h1 {
    font-family: sans-serif;
    font-size: 3em;
    font-weight: 600;
    color: var(--accentBanana);
    background-color: white;
    padding-left: 10%;
}

h2 {
    font-family: sans-serif;
    font-size: 2.5em;
    font-weight: 400;
    color: var(--backgroundDark);
    
}

h3 {
    font-family: sans-serif;
    font-size: 2em;
    font-weight: 400;
    color: var(--backgroundDark);
}

input[type=text] {
    font-style: italic;
    padding: 10px;
    background-color: var(--menuColor);
    border:0;
    width: 70%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--backgroundDark);
}

.btn-custom { 
    color:#fff;
    background-color: var(--accentBanana);
    border-color:var(--accentBanana);
}


/*  ==========
3.) Images
========== */

.logo {
margin-left: 10%;
}

/*  ==========
4.) CSS Animation
========== */

::selection {
    color: rgb(255, 255, 255);
    background: var(--accentHighlight);
  }